trigger: none

pool:
  name: default

steps:
- task: TerraformInstaller@1
  displayName: 'terraform install'
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  displayName: 'terraform init'
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/prod'
    backendServiceArm: 'Deepak_serviceconnection'
    backendAzureRmStorageAccountName: 'deep57stg'
    backendAzureRmContainerName: 'deepcnt'
    backendAzureRmKey: 'prod/terraform.tfstate'

- task: TerraformTask@5
  displayName: 'terraform validate'
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/prod'

- task: TerraformTask@5
  displayName: 'terraform fmt'
  inputs:
    provider: 'azurerm'
    command: 'custom'
    customCommand: 'fmt'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/prod'
    environmentServiceNameAzureRM: 'Deepak_serviceconnection'

- task: TerraformTask@5
  displayName: 'terraform plan'
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/prod'
    environmentServiceNameAzureRM: 'Deepak_serviceconnection'

- task: TerraformTask@5
  displayName: 'terraform apply'
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/prod'
    environmentServiceNameAzureRM: 'Deepak_serviceconnection'
